@charset "utf-8";

/* Start reset */

* {
	margin: 0;
	padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: rgba(0, 0, 0, 0.03);
    color: #333;
    font-family: 'Roboto', 'Arial', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* End Reset */

/* ARTIST SECTION */

.content{
    position: absolute;
    top: 100px;
}

.background-container{
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-position: center;
    position: static;
    filter: brightness(0.6);
}

.artist-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 100px;
    
}

.left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.followArtist {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.right {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.followArtist p {
    margin-left: 10px;
    font-size: 23px;
}

.left img {
    width: 280px;
}

.underName {
    width: 80px;
    height: 2px;
    background-color:blue;
    margin-bottom: 30px;
}

.right p {
    width: 90%;
    color: white;
    font-size: 20px;
    text-align: justify;
}

.right h1 {
    font-size: 55px;
    color: white;
}

.followArtist h4 {
    color: white;
    font-size: 18px;
}

/* END ARTIST SECTION */

/* GALLERY */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.artwork-img {
    margin: 10px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.artwork-img:hover {
    border: 1px solid white;
}

a img {
    width: 100%;
    height: 100%;
}

.gallery {
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
    color: white;
}

.follow {
    background-color: white;
    border-radius: 3px;
    color: blue;
    padding: 5px 10px;
    font-weight: 600;
}











