/* ARTIST SECTION */

.content{
    width: 100%;
    background-size: cover;
    background-position: center;
}

.artist-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.artistLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.followArtist {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.artistRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.followArtist p {
    margin-left: 10px;
    font-size: 23px;
}

.artistLeft img {
    width: 60%;
}

.underName {
    width: 80px;
    height: 2px;
    background-color:#51B7AE;
    margin-bottom: 30px;
}

.artistRight p {
    width: 90%;
    color: #333;
    font-size: 20px;
    text-align: justify;
}

.artistRight h1 {
    font-size: 55px;
    color: #333;
}

.followArtist h4 {
    color: #333;
    font-size: 18px;
}

/* END ARTIST SECTION */

/* GALLERY */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.artwork-img {
    margin: 14px;
    border: 1px solid #333;
    width: 200px;
    height: 200px;
}

.artwork-img:hover {
    border: 1px solid white;
}

a img {
    width: 100%;
    height: 100%;
}

.gallery {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #333;
}

.follow {
    background-color: #474d51;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
}

/* Social Media */

.artistFacebook {
    width: 38px;
    color: #0d8bf1;
    margin-right: 10px;
}

.artistInsta {
    width: 45px;
    margin-right: 10px;
}

.socialMedia {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.artistWebSite {
    width: 30px;
    color: #51B7AE;
}












