@charset "utf-8";

/* Start reset */

* {
	margin: 0;
	padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: rgba(0, 0, 0, 0.03);
    color: #333;
    font-family: 'Roboto', 'Arial', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* End Reset */

figure {
    width: 33%;
    text-align: center;
    transition: 0.5s ease;
}

figure:hover {
    transform: scale(1.1);
}

figure img {
    width: 200px;
    height: 200px;
    border-radius: 175px;
    border: 1px solid black;
}

figure figcaption {
    padding-top: 15px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: bold;
}

.artistes{
    display: flex;
    flex-wrap: wrap;
}

.artist-img{    
    display: flex;
    flex-direction: row;
    margin: 50px;
}