@charset "utf-8";

/* Start reset */

* {
	margin: 0;
	padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: rgba(0, 0, 0, 0.03);
    color: #333;
    font-family: 'Roboto', 'Arial', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* End Reset */

/* Slider */

.galleryContainer {
    width: 100%;
    height: 700px;
    max-width: 100%;
    user-select: none;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 1px #333;
    margin: 0 auto;
}

.galleryContainer .slideShowContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: darkgray;
    position: relative;
}

.galleryContainer .slideShowContainer #playPause{
    width: 35px;
    height: 35px;
    position: absolute;
    background-image: url("/img/playPause.png");
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
    opacity: .3;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}

.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img {
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

#prevBtn
{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 3%;
    color: white;
    opacity: 0.7;
    cursor: pointer;                                                                                                                                                                                                                                                        
}

#nextBtn
{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 3%;
    color: white;
    opacity: 0.7;
    cursor: pointer;                                                                                                                                                                                                                                                        
}

.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}

.galleryContainer .moveRightNextSlide{
    animation-name: moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes moveRightNext {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.galleryContainer .slideShowContainer>.captionHolder
{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 150px;
    line-height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: rgba(51, 48, 48, .3);

}

.galleryContainer .slideShowContainer>.captionHolder>.captionText
{
    margin: 0;
    width: 50%;
}

.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: .7s;
    animation-timing-function: ease-out;  
}

@keyframes slideTextFromBottom{
   from{opacity: 0;margin-top: 100px}
    to{opacity: 1; margin-top: 0;}
}

.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: .7s;
    animation-timing-function: ease-out;  
}

@keyframes slideTextFromTop{
   from{opacity: 0;margin-top: -100px}
    to{opacity: 1; margin-top: 0;}
}

/* Agenda */

.eventContainer
{
    width: 100%;
    margin-top: 100px;
}

.eventTitle
{
    text-align: center;
    font-size: 60px;
}

.allEvent
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

.eventContent
{
    width: 20%;
    height: 300px;
    background-color: green;
    position: relative;
    filter: drop-shadow(2px 4px 6px black);
    margin: 30px;
    transition: 0.5s ease;
}

.eventContent:hover{
    transform: scale(1.1);
}

.backgroundEvent
{
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
}

.TextEvent
{
    color: white;
    text-align: justify;
    margin: 8px;
    position: absolute;
    bottom: 0;
}
}



  

