.containerProfilPage
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;

}

.FormProfilPage
{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.ArtisteFolloWProfil
{
    width: 26%;
}

.imageLikedProfil
{
    width: 26%;
    
}

img 
{
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

h3
{
    margin-bottom: 20px;
}

.username
{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

.artisteFollow-content, .artworkliked-content
{
    height: auto;
    text-align: center;

}
.artisteFollow, .artworkliked
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

