{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/gallery.css') }}"/>
{% endblock %}

{% block body %}

<div class="container">
    {% for artwork in artworks %}
        <div class="artwork-img">
            <figure>
                <a href="{{ path('show_artwork',{'id': artwork.id}) }}">
                    <img src="{{ artwork.picture }}"  alt="Elephant at sunset">
                </a>
            <figcaption>{{ artwork.name }}</figcaption>
        </div>
    {% endfor %}
</div>
{% endblock %}
