{% extends 'base.html.twig' %}

{% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{ asset('css/artist.css') }}"/>
{% endblock %}

{% block body %}

{# Affichage des artistes #}

<div class="artistes">
    {% for artiste in artistes %}
        <div class="artist-img">
            <figure>
                <a href="{{ path('show_artiste',{'id': artiste.id}) }}">
                    <img src="{{ artiste.image }}" alt="Elephant at sunset">
                </a>
            <figcaption>{{ artiste.name }}</figcaption>
        </div>
    {% endfor %}
</div>

{% endblock %}
